<div class="container"style="padding-top: 70px;padding-bottom: 60px; width:500px">
    <div class="card-header" style="text-align: center;"><h4>Add service</h4></div>
    <div class="card card-body">
        <form class="form-signin" (ngSubmit)="onSubmit()">
            <span id="reauth-email" class="reauth-email"></span>
            <label for="ServiceType" class="col-md-3 control-label">Service Type :</label>
            <input type="text" name="serviceName" required [(ngModel)]="serviceName"class="form-control" autofocus><br>
            <label for="Category" class="col-sm-3 control-label">Category</label>   
            <input type="text" name="category" required [(ngModel)]="category.cName"class="form-control" autofocus><br>
<br>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
        </form>
    </div>
</div>