<p>show-available-services works!</p>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Service List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Service Info</th>
            <th>Helpster Info</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of serviceList;">
            <td>Service_Id : {{service.serviceId}}<br>
            Type : {{service.serviceName}}<br>
            Category : {{service.category}}<br>
            Description : {{service.description}}<br>
            City : {{service.city}}<br>
            Locality : {{service.locality}}<br>
            Rating : {{service.rating}}</td>
            <td>Name : {{service.associatedHelpster.firstName+" "+service.associatedHelpster.lastName}}<br>
              Email : {{service.associatedHelpster.email}}<br>
            Contact No : {{service.associatedHelpster.contactNo}}<br>
            </td>

            <td>   <button (click)="onBooking($event.target, 'Booked',service.serviceId)" class="btn btn-info" style="margin-left: 10px">Confirm Booking</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>