<html>
    <body>

<div class="container">
    <h2>Customer Registration</h2>
            <form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName"  class="form-control" autofocus  [(ngModel)]="user.firstName" name="firstName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="user.lastName" name="lastName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password"  class="form-control" required>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="contactNo" class="col-sm-3 control-label">Contact no*</label>
                    <div class="col-sm-9">
                        <input type="tel" id="contactNo"  class="form-control" [(ngModel)]="user.contactNo" name="contactNo" required>
                    </div>
                </div>
                <br>
            <br>
                
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->
        </body>
        </html>

