.row2{
    background-image: url("/assets/images/maps.png");
    background-position: center;
    background-size: cover;
    
}

.para1{
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
    color:black;
    font-size: 20px;
    
   
}
.footer-img{
    margin: 30px;
   margin-left: 17%;
    mix-blend-mode: darken;
    
}

.services{
    text-align: center;
    padding: 3px;
    
}

.cimg1{
    text-align: center;
}