
 <!-- <!doctype html>
<html lang="en">
<body>
   <div class="container">
      <div class="row" style="height: 150px; background-color: #f8eeed; margin: 10px;">
       <div class="logo">
           
           <img src="assets/images/logopics2.jpg" height="60px" style=" padding: 5px; width: 20%; margin-left: 40%; mix-blend-mode:darken">
           
           
       </div>
       <div class="moto">
           <h6 style="text-align: left; margin-left: 100px;font-family: 'Lexend Mega', sans-serif; font-size: 20px; text-align: center; color:black">NO ONE CAN HELP EVERYONE BUT EVERYONE CAN HELP SOMEONE </h6>
       </div>
   </div>
   <div class="row2 mt-1 justify-content-center" style="height: 500px;  ">
       <div class="inner-row" style="height: 400px;">
           
          <h3 style="text-align: center; text-decoration: underline; font-family: 'Lexend Mega', sans-serif; color: black; padding: 10px;"><b>Looking for a helper?</b></h3>
           <div class="para1">
           <p>Helpster makes it super easy for you!</p>
           <p>Get a helper for a service in just one click</p>
           <br>
           <br>

           <img src="assets/images/click.gif" height="100px" style="mix-blend-mode:darken">
           
       </div>
       <div class="services">
       <button value="Book Service" style="background-color: coral;">Book Service</button>
   </div>
   </div>
   
       
   </div>
    
</div>  
<div class='col-12' style="margin-top: 30px; background-color: #f8eeed;" >  
   <ngb-carousel>  
       <ng-template ngbSlide>
           <p class="cimg1">
           <img src="assets/images/15.jpg" alt="Delhi Metro" style="width: 70%;height:500px ; margin: 20px;">  
           </p>
       </ng-template>  
       <ng-template ngbSlide>  
           <p class="cimg1">
           <img src="assets/images/9.jpg" alt="Bangalore Metro" style="width: 70%;height:500px ; margin: 20px;">   
           </p>
       </ng-template>  
       <ng-template ngbSlide> 
           <p class="cimg1">
           <img src="assets/images/3.jpg" alt="Channai Metro" style="width:75%;height:500px ; margin: 20px;">  
           </p>
       </ng-template>  
       <ng-template ngbSlide> 
           <p class="cimg1">
           <img src="assets/images/11.jpg" alt="Jaipur Metro" style="width: 75%;height:500px ; margin: 20px;">  
           </p>
       </ng-template>  
       
   </ngb-carousel>
   </div>
   <div class="footer" style="background-color:#f8eeed;text-align: center;width: 100%; ">
       
       <img src="assets/images/service.jpg" >
       
   </div>
   
   

</body>
</html> -->

<!-- <div class="container"style="padding-top: 50px;padding-bottom: 10px;height: 200px; background-color: #f8eeed;width:800px">
 <div class="card-header" style="text-align: center;"><h2>Helpster</h2></div>
    <div class="card card-body">
     NO ONE CAN HELP EVERYONE BUT EVERYONE CAN HELP SOMEONE 
 </div>
</div> -->

<div class="container" id="card1" style="padding-top: 50px;padding-bottom: 10px; background-color: #f8eeed;">
 <div class="card-header">
   <div class="container">
     <div class="row" style="height:70px; background-color: #f8eeed; margin: 10px;">
      <div class="moto"style="padding-top: 25px;padding-bottom: 10px; background-color: #f8eeed;">
          <h6 style="text-align: center; margin-left: 170px;font-family: 'Lexend Mega', sans-serif; font-size: 20px; color:black">
            <b>NO  ONE  CAN  HELP  EVERYONE  BUT  EVERYONE  CAN  HELP  SOMEONE </b></h6>
      </div>
    </div>
 </div>  
 <div class="card card-body">
     
      <div class="row2 mt-1 justify-content-center" style="height: 700px; ">
       <div class="inner-row" style="height: 400px;">
           
          <h3 style="text-align: center; text-decoration: underline; font-family: 'Lexend Mega', sans-serif; color: black; padding: 10px;"><b>Looking for a helper?</b></h3>
           <div class="para1">
           <p>Helpster makes it super easy for you!</p>
           <p>Get a helper for a service in just one click</p>
           <br>
           <br>
           
       </div>
         </div>
         
    </div>
</div>

<div class="container"style="padding-top: 50px;padding-bottom: 10px; background-color: #f8eeed;">
 <div class="card card-body">
   <div class='col-12' style="margin-top: 30px; background-color: #f8eeed;" >  
     <ngb-carousel>  
         <ng-template ngbSlide>
             <p class="cimg1">
             <img src="assets/images/15.jpg" alt="Delhi Metro" style="width: 70%;height:500px ; margin: 20px;">  
             </p>
         </ng-template>  
         <ng-template ngbSlide>  
             <p class="cimg1">
             <img src="assets/images/9.jpg" alt="Bangalore Metro" style="width: 70%;height:500px ; margin: 20px;">   
             </p>
         </ng-template>  
         <ng-template ngbSlide> 
             <p class="cimg1">
             <img src="assets/images/3.jpg" alt="Channai Metro" style="width:75%;height:500px ; margin: 20px;">  
             </p>
         </ng-template>  
         <ng-template ngbSlide> 
             <p class="cimg1">
             <img src="assets/images/11.jpg" alt="Jaipur Metro" style="width: 75%;height:500px ; margin: 20px;">  
             </p>
         </ng-template>  
         
     </ngb-carousel>
     </div>
     <img class="card-img-bottom" src="assets/images/service.jpg" alt="Card image">
     <!-- <div class="card-footer"> <img src="assets/images/service.jpg"></div> -->
 </div>
</div>